<nav class="navbar navbar-expand-md navbar-light bg-dark px-3">
  <a href="/" class="navbar-brand">
    <i class="fas fa-music text-warning fa-2x"></i>
  </a>
  <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav" name="button"><span
      class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="nav">
    <ul class="navbar-nav flex-grow-1">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Genre
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a href="{% url 'home' %}" class="dropdown-item">All</a></li>
          {% for genre in genres%}
          <li><a class="dropdown-item" href="{{genre.get_songs_by_genre}}">{{genre.name}}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% if request.user.is_authenticated and request.user.username %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Welcome, {{request.user.username}} <i class="fas fa-user circle"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a href="{% url 'userPlaylist' %}" class="dropdown-item">My playlist</a></li>
        </ul>
      </li>
      {% endif %}
      <div class="flex-grow-1"></div>
      <form class="form-inline ml-3" action="{% url 'searchSong' %}" method="POST">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button type="submit" class="btn btn-warning"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      {% if request.user.is_authenticated and request.user.username %}
      <li class="nav-item ms-3">
        <a href="{% url 'signOutUser' %}" class="nav-link text-light btn btn-danger ml-3">
          Sign Out <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{% url 'signUpUser' %}" class="nav-link text-light mx-3 btn btn-success">
          Sign Up <i class="fas fa-user-plus"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'signInUser' %}" class="nav-link text-light btn btn-primary">
          Sign In <i class="fas fa-sign-in-alt"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>