{% extends 'layout/base.html' %}

{% load static %}

{% block content %}

    <style>
        .add-song-link {
            text-decoration: none;
        }

        .add-song-link:hover {
            text-decoration: underline;
        }
    </style>

    <div class="container">
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-5 d-flex flex-column">
                <img alt="{{ playlist.id }}" src="{{ playlist.image.url }}" style="border-radius:5px;" width="100%"
                     height="360"/>
                <div class="p-3 d-flex flex-column">
                    <div class="d-flex">
                        <h3>{{ playlist.name }}</h3>
                    </div>
                    <div class="text-muted">Last updated: {{ playlist.created_at|date:"SHORT_DATE_FORMAT" }}</div>
                    <div class="text-grey mt-3">{{ playlist.desc }}</div>
                    <div class="mt-5 d-flex justify-content-end">
                        <a class="btn btn-outline-warning mt-3" href="{% url 'updatePlaylist' playlist.id %}">Update</a>
                        <a href="{% url 'deletePlaylist' playlist.id %}"
                           onclick="return window.confirm('Are you sure?')"
                           class="btn btn-outline-danger mt-3 ms-2">Delete</a>
                    </div>
                </div>
            </div>
            <div class="col-5">
                {% if songs %}
                    <div class="d-flex justify-content-end mb-3">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Genre
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item dropdown-filter" data-filter="all">all</a>
                                </li>
                                {% for genre in genres %}
                                    <li><a class="dropdown-item dropdown-filter"
                                           data-filter="{{ genre.name }}">{{ genre.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="song-section">
                        {% for song in songs %}
                            <div class="card mb-3 filter {{ song.genre.name }}" id="{{ song.id }}">
                                <div class="card-body d-flex align-items-center justify-content-between p-1">
                                    <img alt="{{ song.id }}" src="{{ song.image.url }}" width="60" height="60"
                                         style="border-radius:5px;"/>
                                    <div class="d-flex flex-column ms-3">
                                        <h5>{{ song.name }}</h5>
                                        <div class="text-muted">{{ song.singer }}</div>
                                    </div>
                                    <div class="flex-grow-1"></div>
                                    <button onclick="deleteSong({{ playlist.id }},{{ song.id }})"
                                            class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="d-flex flex-column ms-5">
                        <h2>No song created yet,</h2>
                        <a class="add-song-link" href="{% url 'song_list' %}">
                            <h4>Let's add some.</h4>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script src="{% static 'scripts/playlist/detail.js' %}"></script>
{% endblock content %}