{% extends 'layout/base.html' %}
{% block content%}
{% load crispy_forms_tags %}

<style>
    .form-group {
        margin-bottom: 25px;
    }
</style>

<div class="container mt-4 mb-4">
    <div class="row mt-4 justify-content-center">
        <div class="col-5">
            <h2 class="mb-5" align="center">แบบฟอร์มลงทะเบียน</h2>
            <form method="post">
                {% csrf_token %}
                <p>{{form | crispy}}</p>
                <a href="{% url 'signInUser' %}" class="float-end mb-3 link">Already have an account</a>
                <div class="clearfix"></div>
                <input type="submit" class="btn btn-success w-25 float-end" value="Register">
            </form>
        </div>
    </div>
</div>

{% endblock %}